<div class="component-container">
    <form [formGroup]="form">
        <mat-form-field appearance="standard" class="searchBar">
            <mat-label>User search</mat-label>
            <input matInput formControlName="userSearch" placeholder="steamid">
            <button matSuffix mat-raised-button (click)="onSendClick()">
                <i class="fas fa-search"></i>
            </button>
            <mat-error>Format for steamid is numeric.</mat-error>
            <mat-hint>Search a user.</mat-hint>
        </mat-form-field>
    </form>
</div>
