@import '../../../variables';

/*
    ---------
    SEARCHBAR
    ---------
*/

.searchBar {
    width: 100%;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: $extra-color;
}

/*
    ---------
    RESPONSIVE
    ---------
*/

@media only screen and (min-width: 1024px) {
    .component-container {
        width: 50%;
        margin: auto;
    }
}
