<div class="component-container">
    <form [formGroup]="form">
        <mat-form-field appearance="standard" class="searchBar">
            <mat-label>Game search</mat-label>
            <input matInput formControlName="gameSearch" placeholder="appid: 524220, 237930, ...">
            <button matSuffix mat-raised-button (click)="onSendClick()">
                <i class="fas fa-search"></i>
            </button>
            <mat-error>Format for appid is numeric (524220, 237930, ...)</mat-error>
            <mat-hint>Search a game.</mat-hint>
        </mat-form-field>
    </form>
</div>
