<mat-toolbar class="toolbar headerBgColor">
    <button mat-icon-button class="btnMenuIcon" (click)="drawer.toggle()">
        <i class="fas fa-bars"></i>
    </button>
    <div>
        <div [routerLink]="['']" class="btn title">{{ title | uppercase }}</div>
    </div>
</mat-toolbar>

<mat-drawer-container [hasBackdrop]="true" class="drawer-container">
    <mat-drawer #drawer [mode]="'over'" class="drawer sidenavBgColor">
        <mat-list role="list">
            <mat-list-item [routerLink]="['']" role="navigation" class="btn drawer-item" (click)="drawer.toggle()">
                <i class="fas fa-search"></i>
                Tracker
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item [routerLink]="['news']" role="navigation" class="btn drawer-item" (click)="drawer.toggle()">
                <i class="fas fa-newspaper"></i>
                Game news
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item [routerLink]="['help']" role="navigation" class="btn drawer-item" (click)="drawer.toggle()">
                <i class="fas fa-info"></i>
                Help
            </mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item [routerLink]="['legal']" role="navigation" class="btn drawer-item" (click)="drawer.toggle()">
                <i class="fas fa-balance-scale"></i>
                Legal
            </mat-list-item>
        </mat-list>
    </mat-drawer>

    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
