@import '../variables';

/*
    ---------
    TOLLBAR
    ---------
*/
.toolbar {
    padding: 0 10px;
    height: 64px;
}

.btnMenuIcon {
    font-size: 1.5rem;
}

.title {
    font-size: 1.5rem;
    margin-top: 5px;
}

/*
    ---------
    SIDENAV
    ---------
*/

.mat-drawer-backdrop.mat-drawer-shown {
    background-color: $body-bg-color;
}

.drawer-container {
    height: calc(100% - 64px);
}

.drawer {
    width: 80%;
}

.drawer-item {
    font-size: 20px;

    a {
        display: block;
        text-decoration: none;
        width: 100%;

        i {
            width: 24px;
            height: 20px;
            padding-right: 5px;
            text-align: center;
            font-size: 20px;
            opacity: .35;
        }
    }

    &:hover {
        background-color: $body-bg-color;
    }
}

/*
    ---------
    RESPONSIVE
    ---------
*/

@media only screen and (min-width: 768px) {
    .drawer { width: 25%; }
}

@media only screen and (min-width: 1024px) {
}
