@import '../variables';

/*
    ---------
    TOOLBAR
    ---------
*/

.toolbar {
    padding: 0 10px;
    height: 64px;
}

.btnMenuIcon {
    font-size: 1.5rem;
}

.title {
    font-size: 1.5rem;
    margin-top: 5px;
}

/*
    ---------
    SIDENAV
    ---------
*/

::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
    background-color: $body-bg-color;
    opacity: .6;
}

.drawer-container {
    height: calc(100% - 64px);
}

.drawer {
    width: 70%;
}

.drawer-item {
    font-size: 20px;
    outline: none;

    i {
        width: 24px;
        height: 20px;
        padding-right: 5px;
        text-align: center;
        font-size: 18px;
        opacity: .35;
    }

    &:hover {
        background-color: $body-bg-color;
    }
}

/*
    ---------
    RESPONSIVE
    ---------
*/

@media only screen and (min-width: 768px) {
    .drawer { width: 33%; }
}

@media only screen and (min-width: 1024px) {
    .drawer { width: 25%; }
}
