<mat-toolbar class="toolbar headerBgColor">
    <button mat-icon-button class="btnMenuIcon" (click)="drawer.toggle()">
        <i class="fas fa-bars"></i>
    </button>
    <div>
        <div class="title">{{ title | uppercase }}</div>
    </div>
</mat-toolbar>

<mat-drawer-container [hasBackdrop]="true" class="drawer-container">
    <mat-drawer #drawer [mode]="over" class="drawer sidenavBgColor">
        <mat-list role="list">
            <mat-list-item role="navigation" class="btn drawer-item">
                <a [routerLink]="['']" (click)="drawer.toggle()">
                    <i class="fas fa-search"></i>
                    Tracker
                </a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <!-- 
            <mat-list-item role="navigation" class="btn drawer-item">
                <a [routerLink]="['user/:id']" (click)="drawer.toggle()">
                    <i class="fas fa-user"></i>
                    Users
                </a>
            </mat-list-item>
            <mat-divider></mat-divider>
            
            <mat-list-item role="navigation" class="btn drawer-item">
                <a [routerLink]="['game/:id']" (click)="drawer.toggle()">
                    <i class="fas fa-gamepad"></i>
                    Games
                </a>
            </mat-list-item>
            <mat-divider></mat-divider>
            -->

            <mat-list-item role="navigation" class="btn drawer-item">
                <a [routerLink]="['price-tracker']" (click)="drawer.toggle()">
                    <i class="fas fa-search-dollar"></i>
                    Price tracker
                </a>
            </mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item role="navigation" class="btn drawer-item">
                <a [routerLink]="['help']" (click)="drawer.toggle()">
                    <i class="fas fa-info"></i>
                    Help
                </a>
            </mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item role="navigation" class="btn drawer-item">
                <a [routerLink]="['legal']" (click)="drawer.toggle()">
                    <i class="fas fa-balance-scale"></i>
                    Legal
                </a>
            </mat-list-item>
        </mat-list>
    </mat-drawer>

    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
