<div class="page-container">
    <div *ngIf="gameData" class="game">
        <h1>{{gameData.gameName | uppercase}}</h1>

        <div class="data">
            <div class="image">
                <img *ngIf="gameData.gameImage; else imageEmpty" class="header-img" src="{{gameData.gameImage}}"
                    alt="{{gameData.gameName}} image" title="{{gameData.gameName}}">
                <ng-template #imageEmpty>
                    <img class="header-img" src="../../../assets/image-not-found.jpg" alt="image not found"
                        title="image not found">
                </ng-template>
            </div>

            <div class="info">
                <div>
                    Steam appid {{gameData.appid}}
                    <i class="fab fa-steam-symbol"></i>
                </div>

                <div>
                    Game ver. {{gameData.game.gameVersion}}
                    <i class="fas fa-code-branch"></i>
                </div>

                <div>
                    <a href="https://store.steampowered.com/app/{{gameData.appid}}" target="_blank"
                        class="link infoColor">
                        Steam store
                        <i class="fas fa-external-link-alt infoColor"></i>
                    </a>
                </div>

                <div class="successColor">
                    Active players {{gameData.player_count}}
                    <i class="fas fa-users successColor"></i>
                </div>

                <div class="perfectColor">
                    Achievements {{gameData.game.availableGameStats.achievements.length}}
                    <i class="fas fa-trophy perfectColor"></i>
                </div>
            </div>
        </div>

        <app-game-news [appid]="appid" [nNews]="nNews"></app-game-news>
    </div>
</div>
