@import '../../../variables';

/*
    ---------
    CARD
    ---------
*/

.game-card {
    display: flex;
    flex-direction: column;

    .header-img {
        width: 100%;
    }

    .game-desc {
        display: flex;
        justify-content: space-between;
        font-weight: 400;
        
        .title {
            margin: auto 0;
            font-size: 1.2em;
            text-decoration: none;

            .fas {
                font-size: 0.4em;
                vertical-align: super;
            }
        }
    }

    .achievements {
        display: flex;
        width: 100%;
        overflow-y: auto;
    
        img {
            margin-right: .5em;
        }
    }
}

.game-empty {
    text-align: center;
    height: 15px;
}

/*
    ---------
    RESPONSIVE
    ---------
*/

@media only screen and (min-width: 768px) {
    .component-container {
        margin: 1em auto;
        width: 70%;
    }

    .game-card {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    
        .header-img {
            width: 35%;
        }
    
        .game-desc {
            display: flex;
            flex-grow: 2;
            justify-content: space-around;
            font-weight: 400;
            font-size: 1.5em;
            margin: auto;
            
            .title {
                text-decoration: none;
            }
        }
    
        .achievements {
            display: flex;
            width: 100%;
            overflow-y: auto;
            align-self: flex-end;
            margin-top: 1em;
        
            img {
                margin-right: .5em;
            }
        }
    }
}
