<div class="component-container">
    <mat-card *ngIf="gameData; else gameEmpty">
        <mat-card-content class="game-card">
            <img *ngIf="gameData.gameImage; else imageEmpty" class="header-img" src="{{gameData.gameImage}}"
                alt="{{gameData.gameName}} image" title="{{gameData.gameName}}">
            <ng-template #imageEmpty>
                <img class="header-img" src="../../../assets/image-not-found.jpg" alt="image not found"
                    title="image not found">
            </ng-template>

            <div class="game-desc">
                <a href="https://store.steampowered.com/app/{{gameData.appId}}" class="link infoColor">
                    {{gameData.gameName | titlecase}}&nbsp;<i class="fas fa-external-link-alt infoColor"></i>
                </a>
                <p class="achievement-counter perfectColor">
                    {{gameData.availableGameStats.achievements.length}}&nbsp;
                    <i class="fas fa-trophy perfectColor"></i>
                </p>
            </div>

            <div class="achievements">
                <img *ngFor="let achievement of gameData.availableGameStats.achievements" src="{{achievement.icon}}"
                    alt="{{achievement.displayName}}" title="{{achievement.displayName}}">
            </div>
        </mat-card-content>
    </mat-card>

    <ng-template #gameEmpty>
        <mat-card class="game-empty">
            <p>We could not fetch any game right now.</p>
        </mat-card>
        <!-- <mat-card class="game-empty" (click)="onClickEmpty()">
            <i class="fas fa-plus"></i>
        </mat-card> -->
    </ng-template>
</div>
