@import '../../../variables';

/*
    ---------
    CARD
    ---------
*/

.game-card { margin: 1em 0; }

.card-content {
    .game-image {
        display: flex;
        .header-img { width: 100%; }
    }

    .game-desc {
        display: flex;
        flex-wrap: wrap;
        margin: 1em auto 0;
        font-size: 1.1em;

        .desc-link {
            display: flex;
            justify-content: space-around;
            width: 100%;
            margin-bottom: 1em;
            text-align: left;

            .link {
                text-decoration: none;
                .fas {
                    font-size: 0.4em;
                    vertical-align: super;
                }
            }
            .w-md { display: none; }
        }

        .desc-players,
        .desc-achievements,
        .desc-time2Weeks,
        .desc-timeForever {
            margin: auto 0;
            width: 25%;
            text-align: center;
            p { margin: 0; }
            .w-md { display: none; }
        }
    }
}

.game-empty {
    text-align: center;
    height: 15px;
}

/*
    ---------
    RESPONSIVE
    ---------
*/

@media only screen and (min-width: 768px) {
    .component-container {
        margin: 1em auto;
        width: 80%;

        .game-card { 
            margin: 1em auto;
        }
    }
    
    .card-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        .data {
            display: flex;
            width: 100%;

            .game-image { width: 40%; }
            
            .game-desc {
                display: flex;
                width: 60%;

                .desc-link {
                    display: flex;
                    flex-flow: column;
                    align-items: center;

                    .link {
                        margin: auto 0 auto 2em;
                        text-align: left;
                    }
                    .w-md { display: inline; }
                }

                .desc-players,
                .desc-achievements,
                .desc-time2Weeks,
                .desc-timeForever {
                    margin: auto 0;
                    width: 25%;
                    text-align: center;
                    p {
                        font-size: .8em;
                        margin-bottom: 0;
                    }
                    .w-md {
                        display: block;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    .component-container {
        width: 70%;
        .card-content {
            .game-image {
                width: 347px;
                img { width: 347px; }
            }
            .game-desc { font-size: 1.2em; }
        }
    }
}
