<div *ngIf="games" class="component-container">
    <div *ngIf="games.length > 0; else gameEmpty">
        <mat-card *ngFor="let game of games" class="game-card">
            <mat-card-content class="card-content">
                <div class="data">
                    <div class="game-image">
                        <img *ngIf="game.data.gameImage; else imageEmpty" class="header-img"
                            src="{{game.data.gameImage}}" alt="{{game.data.gameName}} header image"
                            title="{{game.data.gameName}}">
                        <ng-template #imageEmpty>
                            <img class="header-img" src="../../../assets/image-not-found.jpg" alt="image not found"
                                title="image not found">
                        </ng-template>
                    </div>

                    <div class="game-desc">
                        <div class="desc-link">
                            <a href="https://store.steampowered.com/app/{{game.data.appid}}" target="_blank"
                                class="link infoColor">
                                {{game.data.gameName}}
                                <i class="fas fa-external-link-alt infoColor"></i>
                            </a>
                            <a [routerLink]="['/game/', game.data.appid]" class="link infoColor">
                                InfoSteam page
                            </a>
                        </div>
                        <div class="desc-players successColor" title="Online users playing the game">
                            {{game.data.player_count}}
                            <i class="fas fa-users successColor"></i>
                        </div>
                        <div *ngIf="game.data.game.availableGameStats" class="desc-achievements perfectColor"
                            title="Total game achievements">
                            {{game.data.game.availableGameStats.achievements.length}}
                            <i class="fas fa-trophy perfectColor"></i>
                        </div>
                        <div class="desc-time2Weeks successColor" title="Hours played last 2 weeks">
                            + {{game.recentData.playtime_2weeks / 60 | shortDecimals }} h
                            <i class="fas fa-calendar-week successColor"></i>
                            <p class="w-md successColor">
                                Last 2 weeks
                            </p>
                        </div>
                        <div class="desc-timeForever successColor" title="Total hours played">
                            {{game.recentData.playtime_forever / 60 | shortDecimals }} h
                            <i class="fas fa-hourglass-half successColor"></i>
                            <p class="w-md successColor">
                                Total
                            </p>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <ng-template #gameEmpty>
        <mat-card class="game-empty game-card">
            <p>This user haven't play any game in two weeks.</p>
        </mat-card>
    </ng-template>
</div>
