/*
    ---------
    VARIABLES
    ---------
*/

$header-bg-color: #212121;
$sidenav-bg-color: #252525;
$body-bg-color: #303030;
$extra-color: #4f4f4f;
$text-color: #fff;
$perfect-color: #fecc09;
$success-color: #a5c93a;
$great-color: #f8ac37;
$info-color: #55aece;
