/*
    ---------
    VARIABLES
    ---------
*/

$header-bg-color: #212121;
$sidenav-bg-color: #252525;
$body-bg-color: #303030;
$extra-color: #4f4f4f;
$text-color: #fff;
$perfect-color: #fecc09;
$success-color: #a5c93a;
$great-color: #f8ac37;
$info-color: #55aece;

/*
    ---------
    GENERAL
    ---------
*/

* {
    color: $text-color;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.extraColor { color: $extra-color; }
.perfectColor { color: $perfect-color; }
.successColor { color: $success-color; }
.greatColor { color: $great-color; }
.infoColor { color: $info-color; }

.headerBgColor { background-color: $header-bg-color; }
.sidenavBgColor { background-color: $sidenav-bg-color; }
.bodyBgColor { background-color: $body-bg-color; }
.extraBgColor { background-color: $extra-color; }

.pointer { cursor: pointer; }
[class^="btn"] { cursor: pointer; }

/*
    ---------
    TOLLBAR
    ---------
*/
.toolbar {
    padding: 0 10px;
}

.btnMenuIcon {
    font-size: 1.5rem;
}

.title {
    font-size: 1.5rem;
    margin-top: 5px;
}

/*
    ---------
    SIDENAV
    ---------
*/

.mat-drawer-backdrop.mat-drawer-shown {
    background-color: $body-bg-color;
}

.drawer-container {
    height: calc(100% - 64px);
}

.drawer {
    width: 80%;
    padding-top: 10px;
}

.drawer-item {
    padding: 10px 15px;
    font-size: 20px;

    a {
        display: block;
        text-decoration: none;
        width: 100%;
        height: 100%;

        i {
            width: 20px;
            height: 20px;
            padding-right: 5px;
            text-align: center;
            font-size: 20px;
            opacity: .35;
        }
    }
}

/*
    ---------
    SCROLL
    ---------
*/

.scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: $body-bg-color;
}

.scroll::-webkit-scrollbar-thumb {
    background: $extra-color;
    border-radius: 4px;
}

/*
    ---------
    ANIMATIONS
    ---------
*/

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

/*
    ---------
    RESPONSIVE
    ---------
*/

/* For mobile phones: */
// [class*="col-"] { width: 100%; }
/* For tablets: */
@media only screen and (min-width: 768px) {
    // .col-m-1 { width: 8.33%; }
    // .col-m-2 { width: 16.66%; }
    // .col-m-3 { width: 25%; }
    // .col-m-4 { width: 33.33%; }
    // .col-m-5 { width: 41.66%; }
    // .col-m-6 { width: 50%; }
    // .col-m-7 { width: 58.33%; }
    // .col-m-8 { width: 66.66%; }
    // .col-m-9 { width: 75%; }
    // .col-m-10 { width: 83.33%; }
    // .col-m-11 { width: 91.66%; }
    // .col-m-12 { width: 100%; }
    .drawer { width: 25%; }
}
/* For desktop: */
@media only screen and (min-width: 1024px) {
    // .col-1 { width: 8.33%; }
    // .col-2 { width: 16.66%; }
    // .col-3 { width: 25%; }
    // .col-4 { width: 33.33%; }
    // .col-5 { width: 41.66%; }
    // .col-6 { width: 50%; }
    // .col-7 { width: 58.33%; }
    // .col-8 { width: 66.66%; }
    // .col-9 { width: 75%; }
    // .col-10 { width: 83.33%; }
    // .col-11 { width: 91.66%; }
    // .col-12 { width: 100%; }
}
