@import './variables';

/*
    ---------
    GENERAL
    ---------
*/

* {
    color: $text-color;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.extraColor { color: $extra-color; }
.perfectColor { color: $perfect-color; }
.successColor { color: $success-color; }
.greatColor { color: $great-color; }
.infoColor { color: $info-color; }

.headerBgColor { background-color: $header-bg-color; }
.sidenavBgColor { background-color: $sidenav-bg-color; }
.bodyBgColor { background-color: $body-bg-color; }
.extraBgColor { background-color: $extra-color; }

.pointer { cursor: pointer; }
[class^="btn"] { cursor: pointer; }

/*
    ---------
    SCROLL
    ---------
*/

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: $body-bg-color;
}

::-webkit-scrollbar-thumb {
    background: $extra-color;
    border-radius: 4px;
}

/*
    ---------
    ANIMATIONS
    ---------
*/

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}
